.header {
    height: 75px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white !important;

    .header-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-icon {
        color: navy;
        font-size: 32px;
        padding: 0 10px;
        cursor: pointer;
    }
}

